<% if @costumes.blank? == true %>
<div class = "center">
    <div class="index-container">
    <h1 class="p-4">Costumes</h1>
    <p style="text-align:center; color: RGB(100, 91, 85); padding-top: 90px">You don't have any Costume added!</p>
  <%= link_to costumes_path do %>
  <%= image_tag "outfit.png", style:"width: 70px; height: 70px; opacity: 0.8 " %>
  <% end %>
  </div>
  </div>
<% elsif @costumes.blank? == false %>
    <div class = "center">
    <div class="index-container">
    <h1 class="p-4">Costumes</h1>
    <div class="card-container">
    <% @costumes.each do |costume| %>
      <div class = "card">
        <div class="card-item-image">
        <%= link_to costume_path(costume[:id]) do %>
          <%= image_tag(costume.photo_url) %>
        <% end %>
        </div>
          <h3><%= costume.name %></h3>
          <p class="mb-0">Size: <%= costume.size %></p>

        <div class="d-flex justify-content-between align-items-center">
          <h4>£<%= costume.price.round %> per day</h4>

          <%= link_to costume_path(costume[:id]), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this costume?" } do %>
          <%= image_tag ("trashcan.png"), style: "width:28px; height:28px; margin:5px" %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>
  </div>
  </div>
<% end %>
