<div class="body-center new-costume">
  <h1>Add a new costume</h1>
  <br>
  <%= simple_form_for @costume do |f| %>
    <%= f.input :name, placeholder: "Name" %>
    <%= f.input :price, placeholder: "Price" %>
    <%= f.input :description, placeholder: "Description" %>
    <%= f.input :size, placeholder: "Size" %>
    <%= f.input :category, collection: Costume::CATEGORY %>
    <%= f.input :photo_url, placeholder: "Photo URL" %>
    <%= f.submit class: "submit-btn" %>
  <% end %>
  <br>
</div>
