<% if @bookings.blank? == false %>

  <div class = "center">
  <div class="index-container">
  <h1 class="p-4" >My Bookings</h1>

  <div class="card-container">
  <% @bookings.each do |booking| %>
    <div class = "card">
      <div class="card-item-image">
      <%= link_to costume_path(booking.costume[:id]) do %>
        <%= image_tag(booking.costume.photo_url) %>
        <% end %>
      </div>
        <h3><%= booking.costume.name %></h3>
        <% if booking.accepted == "pending" %>
          <h5 class="pending-booking-user"><strong>Status: </strong><%= image_tag "hourglass.png", style: "width:25px; height:25px; margin:5px" %> pending...</h5>
         <% elsif booking.accepted == "Accepted" %>
          <h5 class="pending-booking-user"><strong>Status: </strong><%= image_tag "accepted.png", style: "width:28px; height:28px; margin:5px" %> Accepted!</h5>
         <% elsif booking.accepted == "Declined" %>
          <h5 class="pending-booking-user"><strong>Status: </strong><%= image_tag "declined.png", style: "width:28px; height:28px; margin:5px" %> Declined</h5>
         <% end %>
        <h4>£<%= booking.costume.price %> per day</h4>
        <%= link_to "Delete this Booking", my_booking_path(@booking), class: "btn book-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?" } %>
      </div>
    <% end %>
  </div>


  <% elsif @bookings.blank? == true %>
  <div class = "center">
    <h1 class="p-4" >My Bookings</h1>
    <div class="no-bookings-yet mt-5" style="text-align:center">
      <p style="text-align:center; color: RGB(100, 91, 85)">No bookings yet!</p>
      <%= link_to costumes_path do %>
        <%= image_tag "booking.png", style:"width: 60px; height: 60px; opacity: 0.7 " %>
        <% end %>
    </div>
  </div>
  <% end %>
<br>
<br>
<br>
<br>
<br>


<hr>


<% if @my_costume_bookings.blank? == false %>
<div class = "center">
  <div class="index-container">
  <h1 class="p-4" >My Pending Bookings</h1>


    <div class="card-container">
    <% @my_costume_bookings.each do |booking| %>
      <div class = "card">
        <div class="card-item-image">
        <%= link_to costume_path(booking.costume[:id]) do %>
          <%= image_tag(booking.costume.photo_url) %>
          <% end %>
        </div>

          <h5 class="pending-booking-user" style="text-align: center"><strong>Booking made by:</strong> <%= booking.user.email %></h5>
          <%if booking.accepted == "pending"%>
          <div class="d-flex justify-content-center">
            <%= link_to accept_booking_path(booking), data: {turbo_method: :post} do %>
            <%= image_tag "accept.png", class: "decision-button", style: "width:40px; height:40px; margin:5px"  %>
            <% end %>
            <%= link_to decline_booking_path(booking), data: {turbo_method: :post} do %>
            <%= image_tag "decline.png", class: "decision-button", style: "width:40px; height:40px; margin:5px" %>
            <% end %>
          </div>

          <% elsif booking.accepted == "accepted" || "declined" %>
            <h6><%= booking.accepted.capitalize %></h6>
          <% end %>
      </div>
    <% end %>
    <% elsif @my_costume_bookings.blank? == true %>
    <div class = "center">
    <h1 class="p-4" >My Pending Bookings</h1>
    <div class="no-bookings-yet mt-5" style="text-align:center">
      <p style="text-align:center; color: RGB(100, 91, 85)">No one booked any of your costumes yet!</p>
        <%= image_tag "sad.png", style:"width: 60px; height: 60px; opacity: 0.7", class: "mb-4" %>
    </div>
  </div>
    <% end %>
  </div>
  </div>
  </div>
  </div>
  </div>
