<div class = "center">
  <div class="index-container">
  <h1 class="p-4" >Bookings</h1>
    <div class="card-container">
    <% @bookings.each do |booking| %>
      <div class = "card">
        <div class="card-item-image">
          <%= link_to costume_path(booking.costume[:id]) do %>
            <%= image_tag(booking.costume.photo_url) %>
          <% end %>
        </div>
          <h3><%= booking.costume.name %></h3>
          <p>Size: <%= booking.costume.size %></p>
          <h4>£<%= booking.costume.price %> per day</h4>
      </div>
    <% end %>
    </div>
  </div>
</div>
