<% @bookings.each do |booking|%>
<div class="container">
<p><strong>Start Date: </strong> <%= booking.start_date %></p>
<p><strong>End Date: </strong> <%= booking.end_date %></p>
<p><strong>Costume Name: </strong><%= booking.costume.name %></p>
<p><strong>Price: </strong>£<%= booking.costume.price %> <strong>per day</strong></p>
<%= image_tag booking.costume.photo_url, alt: booking.costume.name %>
<% end %>
</div>
