<!doctype html>
<html>

<head>

<title>Overdressed</title>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section class="banner body-center">
  <img src = "https://res.cloudinary.com/dpjxlsdtk/image/upload/v1653996934/costume_homepage_mjs2p1.png" class = "banner-img">

   <h1>Rent all the best costumes</h1>

  <%# <form action = "/" method = "GET" class = "form">
    <input type="text" placeholder="What are you searching for today?" class = "search-field">
    <button type="submit" class = "search-button"><i class="fa fa-search"></i></button>
  </form> %>

  <%= form_tag costumes_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-field",
      placeholder: "What are you searching for today?"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</section>

<section>
<div class="arrow_container">
    <a href="#scroll-target">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
  <span class="text-arrow" id="toscroll"></span>
    </a>
</div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class = "featured-cards body-center" id="scroll-target">
  <h2> Featured <h2>


  <div class = "featured-sub-items-cards">
  <div class = "card-container">
   <%= render 'shared/card_featured' %>
    </div>

    </div>
    <%= link_to "Explore all", costumes_path, class: "explore-btn" %>
</section>



<br>
<br>
<br>
<br>
<br>
<br>
<br>

<section class="featured-items body-center">
<h2>We're giving costumes<br>a second chance</h2>
<br>
<br>
<p>We're taking costumes for a ride. With thousands of single-use costumes being thrown out every year,<br>we're making it our business to
undo what it started, one rental at a time.</p>
</section>


</body>
</html>
