<!DOCTYPE html>
<html>
  <head>
    <title>Overdressed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



    <link rel="stylesheet" href="../../assets/stylesheets/application.scss">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
   <div class="navbar">
    <div class="logo">OVERDRESSED</div>
    <% if user_signed_in? %>
      <div class="sign-up">
         <li>
              <%= link_to "Sign out", "#", class: "nav-item2 active" %>
          </li>
      </div>
    <% else %>
      <ul class="sign-up">
          <li>
              <%= link_to "Sign up", "#", class: "nav-item1 active" %>
          </li>
          <li>
            <%= link_to "Sign in", "#", class: "nav-item2" %>
          </li>
      </ul>
    <% end %>
    </div>

  <%= yield %>

    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        This footer is made with <i class="fas fa-heart"></i> at Overdressed
      </div>
    </div>
  </body>
</html>
